.creditCont {
  margin: 96px auto 120px;

  .myCont {
    // max-width: 1440px;
    padding: 0 160px;
  }

  .crHeader {
    background: radial-gradient(circle, rgb(44, 19, 44) 20%, rgba(5, 0, 103, 0.084) 65%);
    padding: 100px 168px;
    margin-bottom: 80px;

    .headTitle {
      color: white;
      font-weight: 700;
      font-size: 40px;
      line-height: 56px;
      text-align: center;
      margin: 0 auto 40px;
      width: 546px;
    }

    .headInfo {
      color: #bfbfbf;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      width: 546px;
      margin: 0 auto;
    }
  }

  .crMid {
    margin-bottom: 120px;

    .midTitle {
      color: white;
      font-weight: 700;
      font-size: 32px;
      line-height: 28px;
      text-align: center;
      margin-bottom: 32px;
    }

    .midInfo {
      color: #bfbfbf;
      font-weight: 500;
      font-size: 20px;
      text-align: center;
      line-height: 28px;
    }
  }

  .crEnd {
    background-color: #161a1e;
    padding: 32px 0;

    .endCont {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 353px;
    }

    .endLeft {
      .endTitle {
        color: white;
        font-weight: 700;
        font-size: 32px;
        line-height: 28px;
        margin-bottom: 40px;
      }

      .endInfo {
        color: #bfbfbf;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
      }
    }

    .endRight {
      .endDiv {
        width: 112px;
        height: 220px;

        .endImg {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .creditCont {
    margin: 80px auto 72px;

    .myCont {
      padding: 0 16px;
    }

    .crHeader {
      padding: 71.5px 22px;
      margin-bottom: 32px;

      .headTitle {
        font-size: 24px;
        line-height: 31px;
        margin: 0 auto 16px;
        width: 330px;
      }

      .headInfo {
        font-size: 16px;
        line-height: 12px;
        width: 330px;
      }
    }

    .crMid {
      margin-bottom: 72px;

      .midTitle {
        font-size: 20px;
        margin-bottom: 20px;
      }

      .midInfo {
        font-size: 12px;
        line-height: 16px;
      }
    }

    .crEnd {
      padding: 20px 16px;

      .endCont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 39px;
      }

      .endLeft {
        .endTitle {
          font-size: 20px;
          margin-bottom: 24px;
        }

        .endInfo {
          font-size: 12px;
          line-height: 16px;
        }
      }

      .endRight {
        .endDiv {
          width: 72px;
          height: 141px;
        }
      }
    }
  }
}
