@import "../../../assets/variables/variables";

.confirmation {
  font-family: $fontFamily;
  padding-top: 184px;
  margin-bottom: 120px;
}
.confirmation_box {
  border: 1px solid #323437;
  border-radius: 2px;
  padding: 65px 94px;
}
.confirmation_header {
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  margin-bottom: 56px;
}

.confirmation_area {
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgb(68, 29, 68);
  background: radial-gradient(circle, rgba(68, 29, 68, 1) 20%, rgba(5, 0, 103, 0) 65%);
  // background: rgb(110, 0, 70);
  // background: radial-gradient(circle, rgba(110, 0, 70, 1) 0%, rgba(255, 255, 255, 0) 51%);
}
.confirmation_form_box {
  margin-bottom: 24px;
}
.confirmation_form {
  max-width: 785px;
}
.confirmation_label {
  color: white;
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}
.confirmation_option {
  max-width: 350px;
  display: block;
  background-color: #090d11 !important;
  padding: 10px 5px !important;
}
select:hover option:hover {
  background-color: red !important;
  color: white;
}
.confirmation_select {
  width: 100%;
  display: block;
  padding: 16px 14px;
  background-color: #161a1e66 !important;
  border-radius: 2px;
  outline: none;
  color: #999999;
}
.confirmation_select option {
  background-color: rgb(31, 31, 31); /* Black background for options */
}

.confirmation_select:focus {
  border-color: white;
}
.confirmation_input {
  padding: 14px !important;
  height: 56px;
  background-color: rgba(22, 26, 30, 0.4);
  width: 100%;
  border-radius: 2px;
  outline: none;
  color: white;
  border: 2px solid #161a1e66;
}
::placeholder {
  color: #999999;
}

.confirmation_textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  background-color: rgba(22, 26, 30, 0.4);
  color: white;
  border-radius: 2px;
  margin-bottom: 16px;
}
.confirmation_title {
  color: white;
  font-size: 18px;
}
.confirmation_btn_area {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
.confirmation_button {
  padding: 15px 0;
  width: 350px;
  height: 56px;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: white;
  margin-top: 28px;
  background: linear-gradient(120.61deg, #fd3c43 -10.5%, #b622dc 38.25%, #3f27eb 80.92%);
}

modal-content {
  .btn-close {
    opacity: 1;
    font-size: 18px;
    filter: brightness(219%) saturate(294%) invert(141%) sepia(122%) saturate(259%) hue-rotate(38deg) brightness(160%) contrast(350%) !important;
  }
}

.option_wrapper {
  background-color: rgba(22, 26, 30, 0.4) !important;
}
@media screen and (max-width: 480px) {
  .confirmation {
    font-family: $fontFamily;
    padding-top: 148px;
    margin-bottom: 48px;
  }
  .confirmation_area {
    background: transparent;
  }
  .confirmation_box {
    padding: 48px 23px;
    background: radial-gradient(circle, rgba(68, 29, 68, 1) 20%, rgba(5, 0, 103, 0) 65%);
  }
  .confirmation_button {
    max-width: 297px;
  }
  .confirmation_header {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .confirmation_label {
    font-size: 14px;
  }
  .confirmation_input {
    padding: 14px !important;
    height: 56px;
    background-color: rgba(22, 26, 30, 0.4);
    width: 100%;
    border-radius: 2px;
    outline: none;
    color: white;
    border: 2px solid #595959;
    font-size: 14px;
    border-radius: 4px;
  }
  ::placeholder {
    color: #999999;
  }
  .confirmation_form_box {
    margin-bottom: 16px;
  }
  .confirmation_select {
    font-size: 14px;
    border: 2px solid #595959;
    border-radius: 4px;
  }
  .confirmation_title {
    font-size: 14px;
  }
  .confirmation_title:last-child {
    color: #cccccc;
  }
  .confirmation_button {
    font-size: 16px;
    height: 44px;
    padding: 8px;
  }
}
@media screen and (max-width: 768px) {
  .confirmation {
    font-family: $fontFamily;
    padding-top: 148px;
    margin-bottom: 48px;
  }
  .confirmation_area {
    background: transparent;
  }
  .confirmation_box {
    padding: 48px 23px;
    background: radial-gradient(circle, rgba(68, 29, 68, 1) 20%, rgba(5, 0, 103, 0) 65%);
  }
  .confirmation_button {
    max-width: 297px;
  }
  .confirmation_header {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .confirmation_label {
    font-size: 14px;
  }
  .confirmation_input {
    padding: 14px !important;
    height: 56px;
    background-color: rgba(22, 26, 30, 0.4);
    width: 100%;
    border-radius: 2px;
    outline: none;
    color: white;
    border: 2px solid #595959;
    font-size: 14px;
    border-radius: 4px;
  }
  ::placeholder {
    color: #999999;
  }
  .confirmation_form_box {
    margin-bottom: 16px;
  }
  .confirmation_select {
    font-size: 14px;
    border: 2px solid #595959;
    border-radius: 4px;
  }
  .confirmation_title {
    font-size: 14px;
  }
  .confirmation_title:last-child {
    color: #cccccc;
  }
}
@media screen and (max-width: 992px) {
  .confirmation {
    font-family: $fontFamily;
    padding-top: 148px;
    margin-bottom: 48px;
  }
  .confirmation_area {
    background: transparent;
  }
  .confirmation_box {
    padding: 48px 23px;
    background: radial-gradient(circle, rgba(68, 29, 68, 1) 20%, rgba(5, 0, 103, 0) 65%);
  }
  .confirmation_button {
    max-width: 297px;
  }
  .confirmation_header {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .confirmation_label {
    font-size: 14px;
  }
  .confirmation_input {
    padding: 14px !important;
    height: 56px;
    background-color: rgba(22, 26, 30, 0.4);
    width: 100%;
    border-radius: 2px;
    outline: none;
    color: white;
    font-size: 14px;
    border-radius: 4px;
  }
  ::placeholder {
    color: #999999;
  }
  .confirmation_form_box {
    margin-bottom: 16px;
  }
  .confirmation_select {
    font-size: 14px;
    border-radius: 4px;
  }
  .confirmation_title {
    font-size: 14px;
  }
  .confirmation_title:last-child {
    color: #cccccc;
  }
}
.modal-header .btn-close {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(41deg) brightness(106%) contrast(102%) !important;
}
