@use "../../../assets/variables/variables" as variables;

.password-reset-container {
  display: flex;
  justify-content: center;
  align-items: center;

  #reset-box__bg {
    background-color: variables.$bgColor;
  }
  .container {
    padding: 16px !important;
  }
  .password-reset-box {
    background-color: #161a1e;
    padding: 56px 50px;
    border-radius: 2px;
    width: 480px;
    text-align: center;
    margin-top: 184px;
    margin-bottom: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    h2 {
      color: white;
      font-size: 40px;
      padding: 8px;
    }
    p {
      color: #cccccc;
      margin-bottom: 56px;
    }
    .validation {
      color: #cccccc;
      margin-bottom: 56px;
      margin-top: 10px;
      padding: 8px;
      font-size: 18px;
    }
    form a {
      color: white;
      font-size: 18px;
      margin-top: 24px;
      display: inline-block;
    }
    .password-reset-box_resend {
      all: unset;
      color: white;
      display: block;
      text-align: center;
      width: 100%;
      font-size: 18px;
      line-height: 21.48px;
      letter-spacing: 2%;
      font-weight: 700;
      margin-top: 30px;
      cursor: pointer;
    }
  }
}
@media (max-width: 480px) {
  .password-reset-box {
    background-color: #161a1e;
    padding: 48px 23px !important;
    border-radius: 2px;
    width: 343px;
    text-align: center;
    margin-top: 184px;
    margin-bottom: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    h2 {
      color: white;
      font-size: 28px !important;
      padding: 8px;
    }
    p {
      color: #cccccc;
      margin-bottom: 40px;
    }
    .validation {
      color: #cccccc;
      margin-bottom: 56px;
      margin-top: 10px;
      padding: 8px;
      font-size: 18px;
    }
    form a {
      color: white;
      font-size: 18px;
      margin-top: 24px;
      display: inline-block;
    }
    .password-reset-box_resend {
      all: unset;
      color: white;
      display: block;
      text-align: center;
      width: 100%;
      font-size: 18px;
      line-height: 21.48px;
      letter-spacing: 2%;
      font-weight: 700;
      margin-top: 30px;
      // margin-bottom: 50px;
    }
  }
}
