.accordion {
  color: #cccccc;
  .head {
    display: flex;
  align-items: center;
    justify-content: space-between;
    padding: 10px 16px 10px 16px;
    border-bottom: 1.5px solid rgb(35, 34, 34);
}
}

.accordion_item {
  border-bottom: 1px solid #222527;

}

.accordion_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px 24px 16px;
  cursor: pointer;
  background-color: #090c11;
  font-weight: 500;
  font-size: 20px;
}

.accordion_content {
  padding: 20px 28px 24px 16px;
  background-color: #090c11;
  max-height: 300px; /* Maksimum hündürlük */
  overflow-y: auto; /* Şaquli scroll təmin edir */
}

.accordion_content::-webkit-scrollbar {
  width: 4px; /* Scrollbarın genişliyi */
}
.accordion_content::-webkit-scrollbar-track {
  background: #151719; /* Scrollbar fon rəngi */
  border-radius: 4px; /* Küncləri yuvarlaq */
}
.accordion_content::-webkit-scrollbar-thumb {
  /* background: #555;  */
  border-radius: 4px; /* Küncləri yuvarlaq */
}
.accordion_content::-webkit-scrollbar-thumb:hover {
  background: #888; /* Hover zamanı çubuq rəngi */
}
.icon {
  margin-left: 10px;
  font-size: 17px;
}
#FilteredProductsSide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.filterItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
  p {
    font-size: 18px;
    position: relative;
    top: -4px;
  }
}


.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #090c13;
  border: 1px solid #ccc;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
}

.checkbox:checked {
  background-color: #c9cacb;
}

.checkbox:checked::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid #090c13;
  border-width: 0 2.4px 2.4px 0;
  border-radius: 1.2px;
  transform: rotate(45deg);
}


.price_range_slider {
  /* width: 300px; */
  /* margin: 20px auto; */
  /* text-align: center; */
  padding-bottom: 10px;
  margin-top: -15px;
}

.inputs {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 20px;
  gap: 10px;
  input{
    padding-left: 5px;
  }
}

input {
  width: 100px;
  /* padding: 5px; */
  height: 36px;
  border: 1px solid #151719;
  border-radius: 2px;
  background-color: #0c1116;
  color: #cccccc;
}

.track {
  background: #fff;
  height: 2.5px;
  border-radius: 5px;
}

.thumb {
  background: #fff;
  height: 18px;
  width: 17.4px;
  position: relative;
  top: -8px;
  border-radius: 50%;
  cursor: pointer;
}