@import "../../../assets/variables/variables";

.container {
    max-width: 1440px;
    margin: 0 auto;

    .account {
        margin-top: 100px;
        padding: 56px 165px;

        .account_container {
            display: flex;
            gap: 30px;

            .account_left {
                padding: 32px 24px;
               width: 32%;
                background: rgba(22, 26, 30, 1);
                border-radius: 8px;

                .user_image {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    cursor: pointer;
                    padding-bottom: 24px;
                    border-bottom: 1px solid rgba(50, 52, 55, 1)
                }

                .user_info {
                    padding: 20px 0;
                    border-bottom: 1px solid rgba(50, 52, 55, 1);

                    .uer_info_item {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        margin-bottom: 12px;
                        color: $firstColor;
                        font-family: $fontFamily;
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 40px;
                        letter-spacing: 0.02em;
                        text-align: left;
                        cursor: pointer;
                        padding: 10px 12px;
                        border-radius: 4px;
                        transition: all .3s ease-in-out;

                        &:hover {
                            background-color: rgba(50, 52, 55, 1);
                        }

                    }
                }
                .user_out{
                    margin-top: 26px;
                    display: flex;
                        align-items: center;
                        gap: 12px;
                        margin-bottom: 12px;
                        color: $firstColor;
                        font-family: $fontFamily;
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 40px;
                        letter-spacing: 0.02em;
                        text-align: left;
                        cursor: pointer;
                        padding: 10px 12px;
                        border-radius: 4px;
                        transition: all .3s ease-in-out;

                        &:hover {
                            background-color: rgba(50, 52, 55, 1);
                        }
                }
            }

            .account_right {
                background: rgba(22, 26, 30, 1);
                width: 68%;
            }
        }
    }
}