@import '../../../assets/variables/variables';

.basket_items {
    max-height: 712px;
    overflow-y: auto;
    padding-right: 20px;
    overflow-x: hidden;
    @media (max-width: 1360px) {
       height: auto;
       padding-right: 0;
    }
    .basket_item {
        width: 700px;
        height: 224px;
        border: 1px solid rgba(50, 52, 55, 1);
        border-radius: 8px;
        padding: 20px;
        display: flex;
        margin-bottom: 20px;

        @media (max-width: 1360px) {
            width: 100%;
        }

        .basket_image {
            width: 235px;
            height: 184px;
            border-radius: 4px;

            img {
                width: 235px;
                height: 100%;
            }
        }

        .basket_item_average {
            display: flex;
            flex-direction: column;
            padding-left: 30px;
            width:calc(100% - 80px);

            .item_average_title {
                min-height: 56px;
                font-family: $fontFamily;
                font-size: 18px;
                font-weight: 500;
                line-height: 28px;
                text-align: left;
                color: $firstColor;
                
        @media (max-width: 984px) {
            min-height: auto;
        }
            }

            .item_average_rating {
                margin: 4px 0px;

                .raition_icon {
                    color: rgba(255, 219, 74, 1);
                    margin-left: 4px;
                }

                .icoun_count {
                    font-family: $fontFamily;
                    font-size: 14.11px;
                    font-weight: 400;
                    line-height: 28.23px;
                    letter-spacing: 0.02em;
                    margin-left: 4px;
                    color: $firstColor;
                }
            }

            .amount_price {
                font-family: $fontFamily;
                font-size: 18px;
                font-weight: 700;
                line-height: 28.23px;
                color: $firstColor;
                margin-bottom: 25px;


            }

            .item_counts {
                width: 99px;
                height: 37px;
                border: 1px solid rgba(50, 52, 55, 1);
                border-radius: 2px;
                border-left: none;

                .count_button {
                    width: 32px;
                    height: 100%;
                    border: none;
                    background-color: transparent;
                    color: rgba(204, 204, 204, 1);
                    border-left: 1px solid rgba(50, 52, 55, 1);

                }
            }
        }

        .basket_item_left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            .item_left_delete {
                color: rgba(180, 42, 42, 1);
                cursor: pointer;
            }

            .basket_amounts {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                width: 87px;

                .amount_name {
                    font-family: $fontFamily;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 28px;
                    color: $firstColor;
                }

                .amount_price {
                    font-family: $fontFamily;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 28px;
                    color: $firstColor;
                    min-width: 200px;
                    text-align: end;

                }
            }
        }
    }
}

/* Scrollbar'ın genel genişliği */
::-webkit-scrollbar {
    width: 12px;
    /* Dikey scroll için genişlik */
    height: 12px;
    /* Yatay scroll için yükseklik */
}

/* Scrollbar arkaplan rengi */
::-webkit-scrollbar-track {
    background: #333538;
}


::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;

}

/* Scrollbar'ın üstüne gelindiğinde değişen stil */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}