.allOrders {
    background-color: #161A1E;
    border-radius: 8px;
    padding: 40px 0;
    // margin: 152px auto 80px;
    width: 730px;
}

.heading {
    margin-left: 24px;
    color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 28px;
}
.orderContainers {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.orderHistory {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.orderCont {
    border: 1px solid #323437;
    border-radius: 4px;
    padding: 12px 14px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.leftSide {
    display: flex;
    align-items: center;
    gap: 30px;
}

.ordersImgCont {
    width: 100px;
    height: 84px;
    border-radius: 1.52px;
}

.ordersImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.52px;
}

.ordrDateAndPrice {
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    padding: 9px 24px 9px 0;
    border-right: 1px solid #323437;

    span {
        font-weight: 700;
    }
}

.rightSide {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.orderNoAndStatus {
    padding: 5px 0 5px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}

.orderNo {
    color: white;
}

.orderStatus {
    color: #00C181;
    display: flex;
    align-items: center;
    gap: 8px;
}

.statusIconCont {
    width: 20px;
    height: 20px;
}

.statusIcon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: baseline !important;
}

.orderDetails {
    display: flex;
    align-items: center;
    gap: 4px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 4px;
    cursor: pointer;
}
.deatilsIconCont {
    width: 20px;
    height: 20px;
}
.detailsIcon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: baseline !important;
}

@media(max-width: 600px) {
    .allOrders {
        padding: 24px 0;
        width: 100%;
        margin: 0 auto;
    }
    .heading {
        margin-left: 16px;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 24px;
    }
    .orderContainers {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .orderHistory {
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    
    .orderCont {
        border: 1px solid #323437;
        border-radius: 4px;
        padding: 12px 14px;
        display: block;
        white-space: nowrap;
    }
    
    .aboveSide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 8px;
        border-bottom: 1px solid #323437;
        margin-bottom: 8px;
    }
    
    .ordersImgCont {
        width: 48px;
        height: 48px;
        border-radius: 0;
    }
    
    .ordersImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0;
    }
    
    .ordrDateAndPrice {
        color: white;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        padding: 0;
        border-right: none;


        .price {
            font-size: 16px;
            line-height: 19px;
            margin-top: 2px;
        }
    
        span {
            font-weight: 700;
        }
    }

    .orderDetails {
        display: flex;
        align-items: center;
        gap: 4px;
        color: white;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        padding: 5px 4px;
        cursor: pointer;
    }
    .deatilsIconCont {
        width: 16px;
        height: 16px;
    }
    .detailsIcon {
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: baseline !important;
    }
    
    .belowSide {
        display: flex;
        align-items: center;
        gap: 16px;
        justify-content: start;
        width: 100%;
    }
    
    .orderNoAndStatus {
        padding: 0;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
    }
    
    .orderNo {
        color: white;
        margin-bottom: 6px;
    }
    
    .orderStatus {
        color: #00C181;
        display: flex;
        align-items: center;
        gap: 6px;
    }
    
    .statusIconCont {
        width: 16px;
        height: 16px;
    }
    
    .statusIcon {
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: baseline !important;
    }
    
    
}