.otp-input {
  width: 84px;
  height: 84px;
  padding: 0;
  text-align: center;
  font-size: 24px;
  margin-right: 5px;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@media (max-width: 393px) {
  .otp-input {
    width: 64px !important;
    height: 64px !important;
    margin-right: 2px !important;
  }
  .password-reset-box {
    padding: 48px 32px !important;
  }
}
