.detail_images{
    max-width: 1440px;
    display: flex;
    align-items: center;
    gap: 20px;
    // position: relative;
    .detail_big_image{
        width: 350px;
        height: 350px;
        border: 0.81px solid rgba(89, 89, 89, 1);
        border-radius: 2.83px;
        padding: 34.19px;
        transition: 0.3s all;
        &:hover {
            border:0.71px solid white ;
        }
    }
    .detail_image_left{
        display: flex;
        height: 350px;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        cursor: pointer;
        overflow: hidden;
      
        .detail_small_image{
            width: 65px;
            height: 65px;
            padding: 7.7px;
            border: 0.71px solid rgba(89, 89, 89, 1);
            border-radius: 2.83px;
            &:hover {
                border:0.71px solid white ;
            }
        }
    }

}