// .orderContainer {
//     display: flex;
//     //flex-direction: column;
//     gap: 20px;
//     margin-top: 20px
// }
.orderDetails {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1156px;
  }
  
  .orderCard {
    background: #1f2428;
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;

    .userOrder {
        display: flex;
        gap:24px;

    }
    .infoDelete{
        display: flex;
        justify-content: space-between;
    }
   
  
    .orderHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #444;
      padding-bottom: 10px;
  
      h3 {
        font-size: 20px;
      }
  
      /* Silmək düyməsi */
      button {
        background-color: #e74c3c;
        color: white;
        border: none;
        padding: 5px 10px;
        font-size: 14px;
        cursor: pointer;
        border-radius: 4px;
  
        &:hover {
          background-color: #c0392b;
        }
      }
    }
  
    .userDetails, .addressDetails {
      margin-top: 20px;
      background: #2b3035;
      padding: 15px;
      border-radius: 8px;
    //   width: 566px;
    //   height: 320px;
  
      h4 {
        margin-bottom: 10px;
        font-size: 18px;
      }
  
      p {
        margin: 5px 0;
        font-size: 14px;
  
        strong {
          font-weight: bold;
        }
      }
    }
  
    .orderItems {
      margin-top: 20px;
  
      h4 {
        margin-bottom: 10px;
        font-size: 18px;
      }
  
      .orderItem {
        background: #2b3035;
        padding: 10px;
        border-radius: 6px;
        margin-bottom: 10px;
  
        p {
          margin: 5px 0;
          font-size: 14px;
  
          strong {
            font-weight: bold;
          }
        }
      }
    }
  }
  