@import '../../assets/variables/variables';

.orderDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.orderCard {
  background: #1f2428;
  color: white;
  padding: 20px;
  border-radius: 8px;

  // .userOrder {
  //   display: grid;
  //   grid-template-columns: repeat(auto-fit, minmax(560px, 1fr)); // Hər bir box 560px olacaq
  //   gap: 20px; // Box-lar arası məsafə
  //   margin-top: 20px;
  // }

  .infoDelete {
    display: flex;
    justify-content: space-between;
  }

  .orderHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;


    .orderHeaderLeft {
      display: flex;
      flex-direction: row;
      gap: 40px;
      /* Sol tərəf üçün məlumat arası məsafə */
    }

    .orderHeaderRight {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      /* Sağ tərəfdə düzləşmə sağa */
      gap: 0px;

      p {
        font-size: 18px;
        font-weight: 500;
        margin-right: 12px;
      }
    }

    h3 {
      font-size: 20px;
    }

    /* Silmək düyməsi */
    button {
      background-color: #e74c3c;
      color: white;
      border: none;
      padding: 5px 10px;
      font-size: 14px;
      cursor: pointer;
      border-radius: 4px;

      &:hover {
        background-color: #c0392b;
      }
    }
  }
  .orderItems {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(560px, 1fr)); // Məhsul məlumatları üçün grid
    gap: 20px;
    margin-top: 20px;
  }
  

  p {
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 28px;
    font-family: $fontFamily;
    color: #FFFFFF;
  }
}

.orderItem,
.userDetails {
  background: #2b3035;
  padding: 15px;
  border-radius: 8px;
  height: auto;
  width: 100%;
  max-width: 560px;
  margin-top: 10px;
}

.userDetails h4,
.orderItem h4 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.userDetails p,
.orderItem p {
  margin: 5px 0;
  font-size: 14px;

  strong {
    font-weight: bold;
  }
}


  