/* RecentOrders.module.scss */
.card {
  background-color: #161A1E;
  color: #fff;




  .productNames {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 320px;
  }
  
}
