@use "../../../assets/variables/variables" as variable;
#forget_container {
  display: flex;
  justify-content: center;
}
.forget_password_content {
  background-color: #161a1e;
  margin-top: 188px;
  margin-bottom: 120px;
}
.forget_password_box {
  padding: 64px 85.5px;
  width: 540px;
}
.forget_password_header {
  color: white;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: 2%;
}
.forget_password_subtitle {
  color: #cccccc;
  text-align: center;
  display: block;
  margin-top: 32px;
  margin-bottom: 56px;
}
.forget_password_label {
  display: block;
  color: white;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
.forget_password_input {
  width: 100%;
  padding: 18px 14px;
  border-radius: 4px;
  border: 1px solid #595959;
  height: 56px;
  display: inline-block;
}
.forget__password_btn {
  width: 100%;
}
.error_message {
  color: red;
  margin-top: 10px;
}
.success_message {
  color: rgb(2, 173, 2);
}
@media (max-width: 480px) {
  .forget_password_box {
    width: 297px;
    padding: 32px; 
  }

  .forget_password_header {
    font-size: 25px;
  }

  .forget_password_subtitle {
    font-size: 14px;
    line-height: 28px;
    margin-top: 8px;
    margin-bottom: 40px;
  }

  .forget_password_label {
    font-size: 14px;
  }
  .forget_password_input {
    height: 40px;
  }
}
