


.addReview {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 20px;
}

.textAreaContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 920px;
}
.star_rating {
  position: absolute;
  right:16px;

}
.textArea {
 
  width: 100%;
  border: none;
  padding: 16px 16px 0px;
  border-radius: 4px;
  color: white;
  resize: none;
  font-size: 20px;
  height: 60px;
  background-color: #151719;
  // padding-right: 100px;
}



.addButton {
  margin-left: 20px;
  padding: 10px 20px;
  background-color: #090c11;
  width: 160px;
  height: 60px;
  color: white;
  border: 2px solid #999999;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  align-self: flex-end;
}

.reviewBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.review {
  border-radius: 4px;
  padding: 20px;
  background-color: #161719;
  min-height: 196px;
  width: 100%;
}

.reviewHeader {
  display: flex;
  align-items: center;
}

.profileImage {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 15px;
}

.defaultProfileIcon {
  font-size: 56px;
  color: #4e4c4c;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.userName {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.reviewTime {
  font-size: 12px;
  color: #777;
}

.reviewText {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  color: #E6E6E6;
  margin: 16px 0;
}

.starFilled {
  color: gold;
  font-size: 17px;
  margin-right: 2px;
}

.starHalf {
  color: gold;
  font-size: 17px;
  margin-right: 2px;
  position: relative;
}

.starHalf::after {
  content: '★';
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  overflow: hidden;
}

.starEmpty {
  color: #ccc;
  font-size: 17px;
  margin-right: 2px;
}

.ratingSelector span {
  cursor: pointer;
}

.loadMoreButton {
  background: transparent;
  color: #ccc;
  border: 1px solid #999999;
  font-size: 18px;
  cursor: pointer;
  width: max-content;
  margin: auto;
  padding: 6px 20px;
  border-radius: 4px;
  color: #999999;

}

.loadMoreButton:hover {
  color: white;
}

.chevron {
  font-size: 20px;
}
