.filterSide {
  border: 1.6px solid rgb(35, 34, 34);
  border-radius: 4px;
  width: 270px;

  .head {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    padding: 10px 16px 10px 16px;
    // border-bottom: 1.5px solid rgb(35, 34, 34);

    height: 84px;
    .text {
      color: #cccccc;
      font-size: 24px;
      font-weight: 500;
    }
    .filterImg {
      width: 24px;
      height: 24px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.filterSide_container {
  max-width: 300px;
  margin: 0 auto;
}
#accordionBody {
  background-color: #090c11 !important;
}
