* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #090D11;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 68px 0 120px;
}

.innerCont {
    padding: 64px 50px;
    border-radius: 2px;
    background: #161A1E;
    max-width: 480px;
    margin: 0 auto;
}

.topText {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2%;
    text-align: center;
    margin-bottom: 4px;
}

.infoText {
    color: #CCCCCC;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 2%;
    text-align: center;
    margin-bottom: 56px;
}

.emailText {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 6px;
}

.inputContainer {
    width: 100%;
    border: 1px solid #595959;
    border-radius: 4px;
    padding: 18px 14px;
    height: 56px;

    .innerInput {
        width: 100%;
        border: none;
        background: transparent;
        color: #999999;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        outline: none;
    }

    &::placeholder {
        color: 999999;
        opacity: 1;
        font-size: 16px;
        line-height: 20px;
    }
}
