@import '../../../../public/assets/variables/variables';

* {
    // border: 1px solid red;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}





header {
    z-index: 1;
    // width: 100%;
    align-items: center;
    display: flex;
    position: relative;
    background: $bgColor;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0px;
        height: 1px;
        background-color: rgba(34, 37, 39, 1);
    }

    .container {
        max-width: 1300px;
        margin: 0 auto;
    }

    .navbar_bg {
        position: sticky;
        top: 0px;
        margin-left: auto;
        margin-left: auto;
        width: 100%;
        padding: 0px 24px;
    }

    .navbar {
        height: 96px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $firstColor;
        gap: 80px;
        width: 100% !important;


        .navbar_right {
            display: flex;
            align-items: center;
            gap: 58px;
        }

        .navbar_pages {
            display: flex;
            align-items: center;
            gap: 46px;
        }

        .navbar_icons {
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: 16px;

            .navbar_users {
                position: relative;
                height: 100%;
                .navbar_users_items {
                    position: absolute;
                    height: 0;
                    opacity: 0;
                    overflow: hidden;
                    width: 177px;
                    top: 89px;
                    left: -95px;
                    text-align: start;
                    padding: 0;
                    background: rgba(22, 26, 30, 1);
                    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, padding 0.3s ease-in-out;

                    .navbar_users_item {
                        display: flex;
                        align-items: center;
                        font-family: $fontFamily;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 28px;
                        letter-spacing: 0.02em;
                        text-align: center;
                        span{
                            margin: 0px 12px;
                        }

                    }
                }

                &:hover {
                    .navbar_users_items {
                        height: auto;
                        opacity: 1;
                        padding: 24px 24px 24px 16px;

                    }
                }
            }

        }

        .navbar_title {
            font-family: $fontFamily;
            font-size: 32px;
            font-weight: 500;
            line-height: 28px;
            text-align: left;
            cursor: pointer;
        }

        .navbar_links {
            height: 96px;
            min-height: 100%;
            position: relative;
            font-family: $fontFamily;
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0.02em;
            text-align: center;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;

            // &:hover{
            //     background: $linearGradient;
            //     -webkit-background-clip: text;
            //     -webkit-text-fill-color: transparent;
            // }
            .link_catagiries {
                height: 0;
                opacity: 0;
                overflow: hidden;
                width: 177px;
                position: absolute;
                top: 97px;
                text-align: start;
                padding: 0;
                background: rgba(22, 26, 30, 1);
                transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, padding 0.3s ease-in-out;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }
            }

            &:hover {
                .link_catagiries {
                    height: auto;
                    opacity: 1;
                    padding: 24px 24px 24px 16px;

                }
            }
        }


        .navbar_ideal {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 212px;
            height: 44px;
            text-align: center;
            background: $linearGradient;
            gap: 10px;
            position: relative;
            clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
            cursor: pointer;
        }
    }
}

.navbar_line {
    width: 100%;
    height: 1px;
    background-color: rgba(34, 37, 39, 1);
}