@use "/public/assets/variables/variables" as variables;

.password-reset-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    background-color: variables.$bgColor;
    width: 100%;
    max-width: 1300px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 88px;
    padding-bottom: 120px;
  }
  .password-reset-box {
    background-color: #161a1e;
    padding: 56px 50px;
    border-radius: 2px;
    max-width: 480px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    h2 {
      color: white;
      font-size: 40px;
      padding: 8px;
    }

    p {
      color: #cccccc;
      margin-bottom: 56px;
      margin-top: 10px;
      padding: 8px;
      font-size: 18px;
    }
    form a {
      color: white;
      font-size: 18px;
      margin-top: 24px;
      display: inline-block;
    }
  }
}
