@import '../../../../public/assets/variables/variables';

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.footer {
    padding: 72px 56px 72px 56px;
    gap: 10px;
    opacity: 0px;
    background: rgba(22, 26, 30, 1);

    .footer_top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .footer_title {
            font-family: $fontFamily;
            color: $firstColor;
            font-size: 32px;
            font-weight: 500;
            line-height: 28px;
            text-align: left;
        }

        .footer_icon {
            display: inline-block;
            width: 23.99px;
            height: 24px;
            gap: 0px;
            opacity: 0px;
            color: rgba(230, 230, 230, 1);
            cursor: pointer;

        }
    }

    .footer_text {
        font-family: $fontFamily;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color: $thirdColor;
        margin: 32px 0px;
    }

    .footer_links {
        display: flex;
        align-items: center;
        gap: 28px;

        li {
            font-family: $fontFamily;
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0.02em;
            text-align: center;
            color: $firstColor;
            margin-bottom: 32px;

        }
    }

    .footer_bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid rgba(29, 34, 39, 1);
        margin-top: 32px;
        padding-top: 33px;

        p {
            font-family:$fontFamilyInter;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color: $secondColor;
            span{
                margin-right: 12px;
            }
        }
    }
}