@import "../../../assets/variables/variables";
@import "../../../assets/common/base";

.card {
  padding: 12px !important;
  border: 1px solid transparent;
  cursor: pointer;
  background: radial-gradient(circle at 100% 100%, #000000 0, #000000 2px, transparent 2px) 0% 0% / 3px 3px no-repeat, radial-gradient(circle at 0 100%, #000000 0, #000000 2px, transparent 2px) 100% 0% / 3px 3px no-repeat, radial-gradient(circle at 100% 0, #000000 0, #000000 2px, transparent 2px) 0% 100% / 3px 3px no-repeat, radial-gradient(circle at 0 0, #000000 0, #000000 2px, transparent 2px) 100% 100% / 3px 3px no-repeat, linear-gradient(#000000, #000000) 50% 50% / calc(100% - 1px) calc(100% - 6px) no-repeat, linear-gradient(#000000, #000000) 50% 50% / calc(100% - 6px) calc(100% - 1px) no-repeat, linear-gradient(to top left, #0b0b4b, #49146e);
  border-radius: 5px;
  box-sizing: border-box;
  max-width: 255px;
  background-clip: border-box;
  position: relative;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.3s ease all;
  z-index: 2;
  max-height: 312px;



  //ANIMATION SPAN
  .cardAnimationSpan {
    position: absolute;
    display: block;
  }

  &:hover .cardAnimationSpan:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 0.125rem;
    background: linear-gradient(90deg, transparent, #e31c25);
    animation: btn-anim1 1s linear infinite;
  }

  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }

    50%,
    100% {
      left: 100%;
    }
  }

  &:hover .cardAnimationSpan:nth-child(2) {
    top: -100%;
    right: 0;
    width: 0.125rem;
    height: 100%;
    background: linear-gradient(180deg, transparent, #e31c25);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
  }

  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }

    50%,
    100% {
      top: 100%;
    }
  }

  &:hover .cardAnimationSpan:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 0.125rem;
    background: linear-gradient(270deg, transparent, #e31c25);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
  }

  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }

    50%,
    100% {
      right: 100%;
    }
  }

  &:hover .cardAnimationSpan:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 0.125rem;
    height: 100%;
    background: linear-gradient(360deg, transparent, #e31c25);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
  }

  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }

    50%,
    100% {
      bottom: 100%;
    }
  }

  //END ANIMATION SPAN


  //INCLUDE CARD IMAGE
  .cardImgContainer {

    width: 231px;
    height: 140px;


    .cardImg {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: 0.5s ease all;

      &:hover {
        transform: scale(1.1);
        transition: 0.5s ease all;
      }
    }
  }

  //END INCLUDE CARD IMAGE


  //RADIO BUTTONS
  .radioButtons {
    position: absolute; // Şəkilin üstündə görünməsi üçün
    top: 40%; // Yuxarıdan məsafə
    left: 50%; // Sol kənardan mərkəzləşdirmək üçün
    transform: translate(-50%, -50%); // Mərkəzləşdirmək
    display: flex;
    background-color: rgba(128, 128, 128, 0.384);
    padding: 4px 8px;
    border-radius: .5rem;
    gap: 8px; // Radio button-lar arasında məsafə

    .radioDiv {
      width: 8px; // Radio button ölçüsü
      height: 8px;
      border-radius: 50%; // Dairəvi forma
      background-color: #DFDFDF; // Default rəngi
      cursor: pointer; // Kursoru pointer edərək kliklənə biləcəyini göstər
      transition: background-color 0.3s ease, border-color 0.3s ease; // Keçidlər

      &.selected {
        background-color: #2E2E2E; // Seçilmiş halda arxa fon
        border: 2px solid #2E2E2E; // Seçilmiş halda çərçivə rəngi
      }

      // Hover zamanı
      &:hover {
        background-color: #ccc; // Hover zamanı arxa fon
      }
    }
  }

  //  END RADIO BUTTONS


  .heartSpan {
    //color: white;
    position: absolute;
    right: 3%;
    top: 0%;
    font-size: x-large;
  }

  //CARD BOTTOM TITLES
  .cardBottomTitles {
    .namePrice {
      font-family: $fontFamily;



      h4 {
        height: 48px;
        color: white;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        margin-top: 16px;
        width: 231px;
    
      }

      p {
        color: white;
        font-size: 16px;
        font-weight: 700;
        line-height: 28px;
        //margin-top: 8px;
        margin-bottom: 8px;

      }
    }

    .ratingBasket {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 28px;

      .basketBg {
        width: 36px;
        height: 28px;
        background: $linearGradient;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
       

        button {
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          background-color: unset;
        }


        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

  }

}