@import "../../../public/assets/variables/variable";

.ForgetPass{
    background-color: #090D11;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}
.ForgetPassContainer{
    background-color: #161A1E;
    width: 480px;
    height: 494px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 0;
    gap: 86px;
    
}
.ForgetPassContainerUp{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.ForgetPassContainer h1{
    font-family: $fontFamily;
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 2px;
    margin: 0;

}
.ForgetPassContainer h6{
    color: #CCCCCC;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    
}
.ForgetPassContainerBottom{
    display: flex;
    flex-direction: column;
    height: 600px;
    
}
.Form{
    display: flex;
    flex-direction: column;
    gap: 50px;

    form{
        display: flex;
        flex-direction: column;
    }
        label{
            color: #ffffff;
            font-size: 18px;
            font-weight: 500;
        }
    
}
input{
    width: 380px;
    height: 56px;
    border: 1px solid #4d4b4b;
    border-radius: 4px;
    background-color: transparent;
    margin-top: 10px;
    padding-left: 18px;
    color: #ffffff;
}
input::placeholder{
    font-size: 16px;
    color: #87858d;
}

.btn{
    // width: 380px;
    height: 56px;
    border: none;  
}

.btn button{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background: linear-gradient(to right, #FD3C43, #B622DC, #3F27EB);
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    border: none;
    padding: 14px 80px;
    
}