.commnetInput{
    // padding: 20px 16px 20px 16px;
    width: 100%;
    font-size: 20px;
    height: 68px;
    border: 1px solid #323337;
    border-radius: 4px;
    font-weight: 500;
    background-color: #151719;
}

.commnetInput::placeholder {
    color: #BFBFBF; 
    opacity: 1;
}