@import "../../../assets/variables/variables";

.container {
    max-width: 1440px;
    margin: 0 auto;

    .account {
        margin-top: 100px;
        padding: 56px 165px;
        @media (max-width: 600px) {
        padding: 56px 16px;
            
           }

        .account_container {
            display: flex;
            gap: 30px;

            @media (max-width: 600px) {
                flex-direction: column;
                gap: 40px;
            }

            .account_left {
                padding: 32px 24px;
                width: 32%;
                height: 460px;
                background: rgba(22, 26, 30, 1);
                border-radius: 8px;
                
            @media (max-width: 600px) {
             width: 100%;
            }
                .user_image {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    cursor: pointer;
                    padding-bottom: 24px;
                    border-bottom: 1px solid rgba(50, 52, 55, 1)
                }

                .user_info {
                    padding: 20px 0 0;
                    border-bottom: 1px solid rgba(50, 52, 55, 1);

                    .uer_info_item {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        height: 52px;
                        margin-bottom: 12px;
                        color: $firstColor;
                        font-family: $fontFamily;
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 40px;
                        letter-spacing: 0.02em;
                        text-align: left;
                        cursor: pointer;
                        padding: 10px 12px;
                        border-radius: 4px;
                        transition: all .3s ease-in-out;

                        &:hover {
                            background-color: rgba(50, 52, 55, 1);
                        }

                    }
                }

                .user_out {
                    height: 52px;
                    margin-top: 26px;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    margin-bottom: 12px;
                    color: $firstColor;
                    font-family: $fontFamily;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 40px;
                    letter-spacing: 0.02em;
                    text-align: left;
                    cursor: pointer;
                    padding: 10px 12px;
                    border-radius: 4px;
                    transition: all .3s ease-in-out;

                    &:hover {
                        background-color: rgba(50, 52, 55, 1);
                    }
                }
            }

            .account_right {
                background: rgba(22, 26, 30, 1);
                width: 68%;
                height: 636px;
                border-radius: 8px;
                padding: 40px 24px;
                @media (max-width: 600px) {
                    width: 100%;
                    height: auto;
                   }
                .account_info {
                    color: $firstColor;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 40px;
                    letter-spacing: 0.02em;
                    text-align: left;
                    padding-bottom: 28px;

                }

                .user_input {
                    display: flex;
                    gap: 30px;
                    align-items: center;
                    margin-bottom: 24px;
                    @media (max-width: 600px) {
                       flex-direction: column;
                       align-items: start;
                       }

                    .user_name {
                        width: 326px;
                        color: $firstColor;
                        height: 90px;

                        .user_input {
                            border: 1px solid rgba(89, 89, 89, 1);
                            margin-top: 6px;
                            margin-bottom: 24px;
                            border-radius: 4px;

                            input {
                                width: 100%;
                                height: 56px;
                                border: none;
                                background-color: transparent;
                                padding: 14px 18px;
                            }
                        }

                        .user_password {
                            width: 172px;
                            padding: 6px 20px;
                            border: 1px solid rgba(89, 89, 89, 1);
                            color: rgba(153, 153, 153, 1);
                            cursor: pointer;

                            img {
                                margin-left: 12px;
                            }
                        }
                    }
                }

                .user_btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 40px;

                    button {
                        padding: 12px 48px;
                        border: none;
                        border-radius: 2px;
                        background: linear-gradient(120.61deg, #FD3C43 -10.5%, #B622DC 38.25%, #3F27EB 80.92%);
                        color: $firstColor;
                        margin-top: 40px;

                        &:hover {
                            background: linear-gradient(120.61deg, #3f27eb -10.5%, #b622dc 38.25%, #fd3c43 80.92%);
                        }

                    }
                }
            }
        }
    }
}