@use "../../../assets/variables/variables" as variables;

// #container_bg {
//   // background-color: #090c11;
//   padding-top: 88px;
//   padding-bottom: 120px;
//   padding: 150px 0px;
// }

.welcomeBox {
  width: 540px;
  // height: 622px;
  background-color: #161a1e;
  margin: 0 auto;
  border-radius: 2px;
  margin-top: 180px;
  margin-bottom: 130px;

 
}
.welcomeBox_container {
  // width: 380px;
  // margin: auto;
  padding: 64px 91.5px 64px 91.5px;
}
.welcomeBox_container_head {
  text-align: center;

  h1 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
  }
  p {
    font-size: 17.6px;
    margin-top: 32px;
    font-weight: 400;
    color: #cccccc;
  }
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 56px;

  input {
    background-color: #161a1e !important;
    padding: 18px 14px 18px 14px;
    border: 1px solid #595959;
    border-radius: 4px;
    width: 100%;
    margin: 10px 0px;
    font-size: 16px;
    color: white;
    height: 56px;
    // outline: none;
  }
}
.labelContent {
  color: white;
  font-size: 18px;
  margin-bottom: -8px;
}
.forgetPassword {
  text-align: end;
  margin-top: -5px;
  margin-bottom: 4px;

  a {
    color: white;
    font-size: 16px;
    text-decoration: none;
  }
}
.error {
  color: red;
  font-size: 0.875rem;
  margin-top: -5px;
  margin-bottom: 10px;
}


//for mobile
@media (min-width: 321px) and (max-width: 480px) {
  .welcomeBox {
    max-width: 361px;
    height: 476px;
    background-color: #161a1e;
    margin: 0 auto;
  
    border-radius: 2px;
  }
  .welcomeBox_container {
    width: 297px;
    margin: auto;
    padding: 48px 0px 48px 0px;
  }
  .welcomeBox_container_head {
    text-align: center;
    color: #fff;
    h1 {
      font-size: 28px;
    }
    p {
      font-size: 14px;
      margin-top: 20px;
      color: #cccccc;
    }
  }



  .form_group {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 40px;
  
    input {
      background-color: #161a1e !important;
      padding:14px, 12px, 14px, 12px;
      border: 1px solid #595959;
      border-radius: 4px;
      width: 100%;
      margin: 5px 0px;
      font-size: 14px;
      color: white;
      // outline: none;
    }
  }
  .labelContent {
    color: white;
    font-size: 14px;
  }
  .forgetPassword {
    text-align: end;
    margin-top: -5px;
  
    a {
      color: white;
      font-size: 12px;
      text-decoration: none;
    }
  }
  .error {
    color: red;
    font-size: 0.875rem;
    margin-top: -5px;
    margin-bottom: 10px;
  }
}