@import "../../../assets/variables/variables";

.conatiner {
    max-width: 1414px;
    margin: 0 auto;
    padding: 56px 165px 120px;
    margin-top: 96px;
    
    @media (max-width: 600px) {
        padding: 28px 16px 80px;
    }

    .basket_title {
        font-family: $fontFamily;
        font-size: 32px;
        font-weight: 700;
        line-height: 28px;
        color: $thirdColor;
        border-bottom: 1px solid rgba(50, 52, 55, 1);
        padding-bottom: 20px;
    }

    .basket_items_container {
        display: flex;
       gap: 30px;
       margin-top: 32px;
       @media (max-width: 1360px) {
      flex-direction: column;
      }
    }


    .basket_total {
        flex-basis: 350px;
    }
    .basket_empty_conatiner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
        margin-top: 48px;
    }
    
}