@import '../../assets/variables/variables';


.productCard {
    //background-color: #1c1c1c;
    color: #fff;
    //padding: 20px;
    border-radius: 8px;
    width: 100%;
    font-family: Arial, sans-serif;

    .productTitle {
        font-size: 32px;
        font-weight: 700;
        font-family: $fontFamily;
    }

    // .rating {
    //     display: flex;
    //     align-items: center;
    //     margin: 10px 0;


    //     .stars {
    //         color: #f5a623;
    //         font-size: 20px;
    //     }

    //     .ratingNumber {
    //         margin-left: 5px;
    //         font-size: 16px;
    //     }
    // }

    .price {
        font-size: 24px;
        font-weight: bold;
        color: white;
        font-weight: 700;
    }

    .addToCartButton {
        background: $linearGradient;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;

        transition: background-color 0.3s ease;

        &:hover {
            background-color: #6f21b0;
        }
    }

    .line {
        width: 100%;
        height: 1px;
        border: none;
        background: #323437;
        margin-bottom: 20px;
        margin-top: 20px;

    }

    .verticalLine {
        width: 1px;
        height: 66px;
        border: none;
        background: #323437
    }

    .description {
        font-size: 16px;
        font-weight: 400;
        color: #CCCCCC;
        line-height: 20px;


    }

    .footer {
        display: flex;
        align-items: center;
        // margin-top: 20px;
        gap: 22px;

        .option {
            // display: flex;
            // align-items: center;
            // gap: 8px;
            font-size: 14px;

            .optionImg {
                height: 30px;
                width: 45px;
            }

            img {
                width: 100%;
                height: 100%;
                margin-right: 10px;
            }

            a {
                color:#E6E6E6;
                // text-decoration: none;
                transition: color 0.3s ease;
                font-size: 14px;
                font-weight: 500;
                font-family: $fontFamily;
                padding: 0 4px;

                &:hover {
                    color:  $firstColor;


                }

                // .span {

                //     span {
                //         font-size: 14px !important;
                //         font-weight: 400 !important;
                //         font-family: $fontFamily !important;
                //     }
                // }
            }

            span {
                font-size: 12px;
            }

            .birKartImg {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                
            }
        }
    }

    .birKartP {
        p {
            font-size: 14px;
            //margin-bottom: 0px !important;
            font-weight: 500;
            font-family: $fontFamily;
        }
    }
}