.serviceDetailsCont {
    background-color: #161a1e;
    border-radius: 8px;
    padding: 20px 24px;
    color: white;

    .heading {
        font-weight: 700;
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 32px;
    }
}

.gridCont {
    display: grid;
    gap: 24px;
    grid-template-areas:
        "header row photo"
        "desc desc photo";
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: auto 1fr;
    height: 100%;

    .header {
        grid-area: header;
    }

    .row {
        grid-area: row;
    }

    .photo {
        grid-area: photo;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 1px solid #595959;
        border-radius: 8px;
        padding: 36px 18px;
        margin-left: 40px;
        //   width: 228px;

        .photoPlaceholder {
            width: 120px;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 24px;

            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }

        .photoText {
            margin-bottom: 32px;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            white-space: nowrap;
        }

        .photoButton {
            background: linear-gradient(125.92deg, #fd3c43 -59.69%, #b622dc 41.4%, #3f27eb 124.93%);
            border: none;
            color: white;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            padding: 8px 28px;
            border-radius: 2px;
            cursor: pointer;
        }
    }

    .desc {
        grid-area: desc;
        display: flex;
        flex-direction: column;
        justify-content: stretch;



        .inputCont {
            height: 100%;
        }



        textarea {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            padding: 16px 14px;
            resize: none; /* Prevent resizing if undesired */
            overflow-y: auto; /* Ensure scrolling if text overflows */
            line-height: 1.5;
            background-color: transparent;
            color: white; /* Adjust for better readability */
          }
    }

    .inputCont {
        border: 1px solid #737373;
        border-radius: 4px;
        height: 52px;
        overflow: hidden;

        input {
            width: 100%;
            height: 100%;
            padding: 16px 14px;
            font-size: 16px;
            color: #737373;
            background-color: transparent;
            border: none;
            outline: none;
        }
    }

    .subHeading {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
    }
}

.actionButtons {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    margin-top: 32px;

    .cancelButton,
    .saveButton {
        padding: 12px 48px;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        border-radius: 2px;
        cursor: pointer;
    }

    .cancelButton {
        background-color: transparent;
        color: white;
        border: 1px solid #323437;
    }

    .saveButton {
        background-color: #323437;
        color: white;
        border: none;
    }
}