@use "../variables/variables" as variables;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$fontFamily;
  background-color: variables.$bgColor !important;
}

.container {
  // max-width: 1440px !important;
  // width: 100%;
  // margin: 0 auto;
  width: 100%;
  max-width: 1440px !important;
  margin: 0 auto;
  padding: 0 160px !important;
}
