.searchBarContainer {
    background-color: #111519;
    width: 100% !important;
    margin: 0 auto 56px;
    // padding: 0 !important;
}
.section {
    margin: 0 auto;
    padding: 18px 0px;
    display: flex;
    width: 1110px;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}
.pc {
    color: #ffffff;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 2%;
    margin-right: 105px;
}
.searchContainer {
    width: 540px !important;
    height: 44px !important;
    position: relative;
    z-index: 1000;
}
.searchInput {
    width: 100%;
    height: 100%;
    border: 1px solid #323437;
    padding: 8px 16px 8px 48px !important;

    .searchInput::placeholder {
        color: #BFBFBF;
        font-size: 18px;
        line-height: 28px;
    }
}
.searchIconContainer {
    position: absolute;
    top: 10px;
    left: 16px;
    width: 24px;
    height: 24px;
}
.searchIcon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: baseline;
}
.searchAbsContainer {
    position: absolute;
    background: #151719;
    border: 1px solid #323437;
    border-radius: 4px;
    width: 100%;
    top: 150%;
    color: white;
    z-index: 1000;

    .prodHeader {
        padding: 20px 16px;
        font-weight: 700;
        font-size: 24px;
        line-height: 40px;
    }

    .prodCont {
        padding: 14px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #323437;
        cursor: pointer;

        .imgAndTitle {
            display: flex;
            align-items: center;
            gap: 16px;
            font-size: 16px;
            line-height: 28px;

            .prodImg {
                width: 44px;
                height: 44px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .prodTitle {
                font-weight: 500;
            }
        }
        .price {
            font-weight: 700;
        }
    }

    .showAllBtn {
        background-color: #24282C;
        padding: 14px 16px;
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        cursor: pointer;
    }
}
.orderContainer {
    position: relative;
    z-index: 30;
}
.ordr {
    display: flex;
    align-items: center;
    gap: 24px;
    cursor: pointer;
    z-index: 1002;
    padding: 8px 16px;
    border: 1px solid #323437;
    border-radius: 4px;
}
.orderText {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #BFBFBF; 
}
.dropContainer {
    width: 24px;
    height: 24px;
}
.dropImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: baseline;
}
.orderMenu {
    position: absolute;
    padding: 24px 20px 24px 24px; 
    color: #CCCCCC;
    background-color: #151719;
    border-radius: 4px;
    bottom: -312px;
    right: 3px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    z-index: 1003; /* Ensure it's above the overlay */
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.332);
    width: 100%;
    height: 100%;
    z-index: 1001; 
    pointer-events: none; /* Prevent it from blocking clicks */
}
.orderUl {
    white-space: nowrap;
    margin: 0;
}
.orderHeader {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}
.orderUl {
    font-size: 16px;
    line-height: 20px;

    li {
        list-style-type: disc;
        cursor: pointer;
        margin-left: 16px;
    }

    li:first-child {
        margin-bottom: 4px;
    }
}
.pointerNone {
    pointer-events: none;
}