@import "../../../assets/variables/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #090d11;
}

.sliderContainer {
  // max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.slick-arrow {
  display: none !important;
}

.slide {
  position: relative;

  img {
    width: 100%;
    height: auto;
  }
}

.slick-slider div {
  padding-top: 93px !important;
}

.container_bottom {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #090d11;
  margin: 0 auto;
  padding: 0 130px;
}

.container_top {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 57px;

  .mainTitle {
    color: white;
    width: 719px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 36px;

    h1 {
      font-size: 70px;
      font-weight: 700;
      line-height: 80px;
    }

    p {
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      color: #cccccc;
      width: 442px;
    }

    .moreButton {
      background-image: linear-gradient(to right bottom,
          #e1327d,
          #de1c8c,
          #d8009d,
          #cc00b0,
          #b900c5,
          #ab0ccf,
          #9918da,
          #8323e4,
          #7723e5,
          #6a24e7,
          #5b25e8,
          #4926e9);
      color: white;
      width: 185px;
      padding: 15px;
      font-size: 18px;
      border-radius: 2px;
      border: none;
      cursor: pointer;
    }
  }
}

#specialselected {
  .specialH3 {
    color: white;
    padding-top: 56px;
    font-size: 40px;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.title {
  color: white;
  padding-top: 56px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 28px;
  font-weight: 500;
}

.cardMain,
.cardMs,
.cardKb {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  gap: 20px;
}

.swiper {
  padding: 0 30px !important;
}

.swiperSlide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.swiperNav:after {
  text-transform: none !important;
  letter-spacing: 0;
  font-size: 15px !important;
  font-weight: 600;
  font-variant: initial;
  color: white !important;
  // border: 2px solid white !important;
  // border-radius: 50% !important;
  width: 30px !important;
  height: 30px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.swiperNavPrev {
  left: 0px !important;
}

.swiperNavNext {
  right: 0px !important;
}

.card {
  padding: 12px !important;
  border: 1px solid transparent;
  cursor: pointer;
  background: radial-gradient(circle at 100% 100%,
      #000000 0,
      #000000 2px,
      transparent 2px) 0% 0% / 3px 3px no-repeat,
    radial-gradient(circle at 0 100%, #000000 0, #000000 2px, transparent 2px) 100% 0% / 3px 3px no-repeat,
    radial-gradient(circle at 100% 0, #000000 0, #000000 2px, transparent 2px) 0% 100% / 3px 3px no-repeat,
    radial-gradient(circle at 0 0, #000000 0, #000000 2px, transparent 2px) 100% 100% / 3px 3px no-repeat,
    linear-gradient(#000000, #000000) 50% 50% / calc(100% - 1px) calc(100% - 6px) no-repeat,
    linear-gradient(#000000, #000000) 50% 50% / calc(100% - 6px) calc(100% - 1px) no-repeat,
    linear-gradient(to top left, #0b0b4b, #49146e);
  border-radius: 5px;
  box-sizing: border-box;
  max-width: 350px;
  

  background-clip: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.3s ease all;
  z-index: 2;

  .cardAnimationSpan {
    position: absolute;
    display: block;
  }

  &:hover .cardAnimationSpan:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 0.125rem;
    background: linear-gradient(90deg, transparent, #e31c25);
    animation: btn-anim1 1s linear infinite;
  }

  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }

    50%,
    100% {
      left: 100%;
    }
  }

  &:hover .cardAnimationSpan:nth-child(2) {
    top: -100%;
    right: 0;
    width: 0.125rem;
    height: 100%;
    background: linear-gradient(180deg, transparent, #e31c25);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
  }

  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }

    50%,
    100% {
      top: 100%;
    }
  }

  &:hover .cardAnimationSpan:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 0.125rem;
    background: linear-gradient(270deg, transparent, #e31c25);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
  }

  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }

    50%,
    100% {
      right: 100%;
    }
  }

  &:hover .cardAnimationSpan:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 0.125rem;
    height: 100%;
    background: linear-gradient(360deg, transparent, #e31c25);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
  }

  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }

    50%,
    100% {
      bottom: 100%;
    }
  }

  .cardImgContainer {
    width: 326px;
    height: 180px;
  

    .cardImg {
      height: 100%;
      width: 100%;
      // object-fit: contain;
      transition: 0.5s ease all;

      &:hover {
        transform: scale(1.1);
        transition: 0.5s ease all;
      }
    }
  }
  
  .radioButtons {
    position: absolute; // Şəkilin üstündə görünməsi üçün
    top: 42%; // Yuxarıdan məsafə
    left: 50%; // Sol kənardan mərkəzləşdirmək üçün
    transform: translate(-50%, -50%); // Mərkəzləşdirmək
    display: flex;
    background-color: rgba(128, 128, 128, 0.384); 
    padding: 4px 8px;
    border-radius: .5rem;
    gap: 8px; // Radio button-lar arasında məsafə
  
    .radioDiv {
      width: 8px; // Radio button ölçüsü
      height: 8px;
      border-radius: 50%; // Dairəvi forma
      background-color: #DFDFDF; // Default rəngi
      cursor: pointer; // Kursoru pointer edərək kliklənə biləcəyini göstər
      transition: background-color 0.3s ease, border-color 0.3s ease; // Keçidlər
  
      &.selected {
        background-color: #2E2E2E; // Seçilmiş halda arxa fon
        border: 2px solid #2E2E2E; // Seçilmiş halda çərçivə rəngi
      }
  
      // Hover zamanı
      &:hover {
        background-color: #ccc; // Hover zamanı arxa fon
      }
    }
  }
  
  }
  

  
  



.mailTitle {
  .namePrice {
    // display: flex;
    // justify-content: space-between;
    // align-items: baseline;
    // padding-top: 16px;
    // padding-bottom: 8px;
    font-family: $fontFamily;
  }

  h4 {
    max-width: 250px;
    height: 56px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    margin-top: 16px;
  }

  p {
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 12px;
    margin-bottom: 8px;

  }

  .ratingBasket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 28px;

    .basketBg {
      width: 36px;
      height: 28px;
      border: 1px solid transparent;
      background: $linearGradient;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }


      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

.heartSpan {
  color: white;
  position: absolute;
  right: 3%;
  top: 0%;
  font-size: larger;
}

.services {
  color: white;
  padding: 56px 30px 20px 30px;
  font-size: 40px;
  font-weight: 700;
}

.mainServices {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
  padding-bottom: 120px;
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: 1170px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 750px) and (max-width: 1169px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 749px) {
    grid-template-columns: 1fr;
  }

  .border {
    padding: 40px 10px 30px 10px;
    border: 1px solid rgba(89, 89, 89, 1);
    border-radius: 5px;
    transition: 0.3s ease all;
    max-width: 255px;
    height: 244px;

    &:hover {
      border-color: #999999;
      cursor: pointer;
      transition: 0.3s ease all;
    }

    img {
      // width: 80px;
      height: 63px;
    }
  }

  .iconsCenter {
    display: flex;
    padding-top: 32px;
    flex-direction: column;
    align-items: center;
  }

  .text {
    text-align: center;

    h3 {
      color: #e6e6e6;
      margin-bottom: 12px;
      margin-top: 16px;
      font-size: 18px;
    }

    p {
      color: #989da2;
      width: 249px;
      font-size: 14px;
    }
  }
}