@import "../../../assets/variables/variables";

body {
  overflow-x: hidden;
}



.footer {

  gap: 10px;
  opacity: 1;
  position: relative;
  background: rgba(22, 26, 30, 1);


  .container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 56px 165px;
    @media (max-width: 600px) {
      padding: 28px 16px;

    }

    .footer_top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .footer_title {
        font-family: $fontFamily;
        color: $firstColor;
        font-size: 32px;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
      }

      .footer_icons {
        display: flex;
        gap: 24px;

        .footer_icon {
          display: inline-block;
          width: 24px;
          height: 24px;
          gap: 24px;
          opacity: 1;
          color: rgba(230, 230, 230, 1);
          cursor: pointer;
        }
      }
    }

    .footer_text {
      font-family: $fontFamily;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      color: $thirdColor;
      margin: 32px 0;
    }

    .footer_links {
      display: flex;
      align-items: center;
      gap: 28px;
      @media (max-width: 1360px) {
        gap: 56px;
        align-items: start;
      }
      .footer_link_left {
        display: flex;
        gap: 28px;

        @media (max-width: 1360px) {
          flex-direction: column;
          align-items: start;
        }
      }

      .footer_link_right {
        display: flex;
        gap: 28px;

        @media (max-width: 1360px) {
          flex-direction: column;
          align-items: start;
        }
      }

      li {
        font-family: $fontFamily;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.02em;
        text-align: center;
        color: $firstColor;
        margin-bottom: 32px;
        @media (max-width: 1360px) {
          margin-bottom: 0px;
        }
      }

    }

    .footer_bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid rgba(29, 34, 39, 1);
      margin-top: 32px;
      padding-top: 33px;
      @media (max-width: 600px) {
       flex-direction: column;
       align-items: start;
  
      }

      p {
        font-family: $fontFamilyInter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: $secondColor;

        span {
          margin-right: 12px;
        }
      }
    }
  }

}