.termsContainer {
    background-color: #090D11;
    padding: 24px;
    border-radius: 8px;
    width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
left: 50%;
transform: translate(-50%, -25%);
}
.headerTerms {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 24px;
    color: white;
}
.puncts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #CCCCCC;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid #323437;
    border-bottom: 1px solid #323437;
    margin-bottom: 28px;
}
.case {
    display: flex;
    align-items: start;
    gap: 12px;
}
.btnCont {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 12px;

    .btnCustom {
        padding: 6px 14.5px;
        border: 1px solid #BFBFBF;
        color: #BFBFBF;
        background-color: transparent;
        border-radius: 2px;
        font-size: 16px;
        line-height: 28px;
        font-weight: 500;
    }
    .btnAccept {
        background-color: #BFBFBF;
        padding: 6px 26.5px;
        color: #090D11;
        border-radius: 2px;
        border: none;
        font-size: 16px;
        line-height: 28px;
        font-weight: 500;
    }
}
