.outerCont {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.332);
    width: 100%;
    height: 100%;
    z-index: 10; 
}

.termsContainer {
    background-color: #090D11;
    padding: 24px;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -18%);
    z-index: 999;
}
.headerTerms {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 24px;
    color: white;
}
.puncts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #CCCCCC;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid #323437;
    border-bottom: 1px solid #323437;
    margin-bottom: 28px;
    .case {
        display: flex;
        align-items: start;
        gap: 12px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        
        .iconCont {
            width: 24px;
            height: 24px;
            white-space: nowrap;

            .iconImg {
                // width: 100%;
                height: 100%;
                object-fit: cover;
                vertical-align: baseline!important;
            }
        }
    
    }
}

.btnCont {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 12px;

    .btnClose {
        padding: 6px 32px;
        border: 1px solid #BFBFBF;
        color: #BFBFBF;
        background-color: transparent;
        border-radius: 2px;
        font-size: 16px;
        line-height: 28px;
        font-weight: 500;
    }
    .btnAccept {
        background-color: #BFBFBF;
        padding: 6px 22px;
        color: #090D11;
        border-radius: 2px;
        border: none;
        font-size: 16px;
        line-height: 28px;
        font-weight: 500;
    }
}
