*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar { 
    width: 4px; 
  } 
   
  ::-webkit-scrollbar-track { 
    background: transparent; 
  } 
   
  ::-webkit-scrollbar-thumb { 
    background-color: #214440; 
    border: 3px solid gray; 
  } 
   
  ::-webkit-scrollbar-thumb:hover { 
    background-color: #555; 
  } 
 
 
   /* Target horizontal scrollbar specifically */ 
::-webkit-scrollbar:horizontal { 
  height: 4px; /* Adjust the height of the horizontal scrollbar */ 
} 
 
::-webkit-scrollbar-thumb:horizontal { 
  background-color: rgb(174, 172, 172); 
  border: 2px solid gray; 
  border-radius: 10px; 
} 
 
::-webkit-scrollbar-thumb:horizontal:hover { 
  background-color: #555; 
}
